body {
    font-family: 'Inter', sans-serif;
    color: #dadada;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

header {
    height: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    position: relative;
    z-index: 3;
}

h1 {
    margin: 0;
    padding-left: 1vh;
}

.file-label {
    margin: 0;
    margin-right: 1vh;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    background-color: #1e1e1e;
    border: 0.1em solid #dadada;
    border-radius: 0.5em;
}

.file-label:hover {
    background-color: #343434;
    cursor: pointer;
}

.file-label:active {
    background-color: #5e5e5e;
}

.svg-container {
    vertical-align: middle;
}

canvas {
    width: 100%;
    height: calc(100vh - 5em);
    background-color: #1e1e1e;
    display: block;
}

.node {
    --canvas-color-1: 233, 49, 71;
    --canvas-color-2: 236, 117, 0;
    --canvas-color-3: 224, 172, 0;
    --canvas-color-4: 8, 185, 78;
    --canvas-color-5: 0, 191, 188;
    --canvas-color-6: 120, 82, 238;
    --canvas-color: 30, 30, 30;
    background-color: rgba(var(--canvas-color), 0.1);
    border-radius: 8px;
    border: 2px solid rgb(var(--canvas-color));
    box-shadow: inset 0 0 0 1px rgb(var(--canvas-color)), 0 0 0 2px rgb(var(--canvas-color));
    position: absolute;
    overflow: auto;
    word-wrap: break-word;
    padding: 0 24px 0;
    transform-origin: 0 0;
    z-index: 2;
}

code {
    white-space: pre-wrap !important;
}

footer {
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    position: relative;
    z-index: 3;
}
